﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    // background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    background: #222;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.paginado-position {
    float: left;
    width: 100%;
}

    .paginado-position nav {
        float: right;
        margin-bottom: 10px;
    }

.new-item {
    float: left;
    margin-bottom: 10px;
}

.total-elements {
    float: left;
}

.actions {
    width: 200px !important;
}

.as-tile {
    width: 100%;
    float: left;
    padding: 5px 10px;
    border-left: 5px solid #3a0647;
    background: #f5f5f5;
    margin-bottom: 20px;
}

.cp {
    cursor: pointer !important;
}

tfoot {
    position: relative !important;
}

.icon-s {
    font-size: 30px;
    padding: 20px;
    width: 100% !important;
}

.load-tables {
    font-size: 20px;
    font-weight: bold;
    position: absolute !important;
    width: 100% !important;
    padding: 30px 10px;
    text-align: center;
    color: #808080 !important;
}

    .load-tables div {
        float: left;
        width: 100%;
    }

    .load-tables i {
        font-size: 40px;
        border: 2px solid #808080;
        border-radius: 40px;
        padding: 5px 0px;
    }

.bubblingG {
    text-align: center;
    width: 80px;
    height: 50px;
    margin: auto;
}

    .bubblingG span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 25px auto;
        background: rgba(0,0,0,0.4);
        border-radius: 50px;
        -o-border-radius: 50px;
        -ms-border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        animation: bubblingG 0.715s infinite alternate;
        -o-animation: bubblingG 0.715s infinite alternate;
        -ms-animation: bubblingG 0.715s infinite alternate;
        -webkit-animation: bubblingG 0.715s infinite alternate;
        -moz-animation: bubblingG 0.715s infinite alternate;
    }

#bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.2095s;
    -o-animation-delay: 0.2095s;
    -ms-animation-delay: 0.2095s;
    -webkit-animation-delay: 0.2095s;
    -moz-animation-delay: 0.2095s;
}

#bubblingG_3 {
    animation-delay: 0.429s;
    -o-animation-delay: 0.429s;
    -ms-animation-delay: 0.429s;
    -webkit-animation-delay: 0.429s;
    -moz-animation-delay: 0.429s;
}



@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgba(0,0,0,0.4);
        transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: rgb(255,255,255);
        transform: translateY(-21px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0,123,255);
        -o-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: rgb(255,255,255);
        -o-transform: translateY(-21px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0,123,255);
        -ms-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: rgb(255,255,255);
        -ms-transform: translateY(-21px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0,123,255);
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: rgb(255,255,255);
        -webkit-transform: translateY(-21px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0,123,255);
        -moz-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: rgb(255,255,255);
        -moz-transform: translateY(-21px);
    }
}


.content-filter {
    float: left;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #f5f5f5;
}

.top-filter {
    float: left;
    width: 100%;
    padding: 5px 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #808080;
    font-weight:bold;
}

.icon-f{
    float:right;
}

.body-filter {
    float: left;
    width: 100%;
    padding: 20px 10px;
}

.foot-filter {
    float: left;
    width: 100%;
    text-align: right;
    padding: 10px;
}

.search-bo {
    cursor: pointer;
}

input, datalist, select{
    border:1px solid #808080 !important;
    outline: none !important;
}

.cr {
    color: #7d0303;
    font-size: 20px;
    background: #f5f5f5;
    border: 1px dashed #7d0303;
    padding:10px;
}