﻿@page "/to-do-list/add"

<div class="content-form col-12">
    <EditForm Model="item" OnValidSubmit="AddItem">
        <Form Model="item"></Form>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="/to-do-list" type="submit" class="btn btn-danger">Cancelar</a>
    </EditForm>
</div>

@code {
    private bool load = false;

    private ToDoList item = new ToDoList();

    async Task AddItem()
    {
        load = true;
        var response = await http.PostJsonAsync<ModelBasicValidad>($"api/ToDoList", item);
        await js.Notification(response.Message, response.Type);
        navigationManager.NavigateTo($"to-do-list");
        load = false;
    }
}
