﻿@page "/to-do-list/edit/{id:int}"

<div class="content-form col-12">
    <EditForm Model="item" OnValidSubmit="EditItem">
        @if (load)
        {
            <div>Cargando...</div>
        }
        else
        {
            <Form Model="item"></Form>
        }
        <button type="submit" class="btn btn-info">Guardar</button>
        <a href="/to-do-list" type="submit" class="btn btn-danger">Cancelar</a>
    </EditForm>
</div>

@code {
    private bool load = false;

    [Parameter]
    public int id { get; set; }

    private ToDoList item = new ToDoList();

    protected override async Task OnParametersSetAsync()
    {
        load = true;
        var a = LoadItem();
        await a;
        load = false;
    }

    private async Task LoadItem()
    {
        item = await http.GetJsonAsync<ToDoList>($"api/ToDoList/{id}");
    }

    async Task EditItem()
    {
        load = true;
        var response = await http.PutJsonAsync<ModelBasicValidad>($"api/ToDoList", item);
        await js.Notification(response.Message, response.Type);
        navigationManager.NavigateTo($"to-do-list");
        load = false;
    }
}
