﻿<DataAnnotationsValidator />   
 
<div class="form-control-file">
    <Label TItem="ToDoList" aspfor="@nameof(Model.Name)"></Label>
    <div>
        <InputText @bind-Value="@Model.Name"
                   class="form-control mb-2 mr-sm-2"
                   id="@nameof(Model.Name)" />
        <ValidationMessage For="@(()=>Model.Name)" />
    </div>
</div> 

<div class="form-control-file">
    <Label TItem="ToDoList" aspfor="@nameof(Model.Order)"></Label>
    <div>
        <InputNumber @bind-Value="@Model.Order"
                   class="form-control mb-2 mr-sm-2"
                   id="@nameof(Model.Order)" />
        <ValidationMessage For="@(()=>Model.Order)" />
    </div> 
</div>

@code {
    [Parameter]
    public ToDoList Model { get; set; } = new ToDoList();
}
