﻿@page "/to-do-list"

<h3 class="as-tile">Listas</h3>

<a class="btn btn-success new-item" href="/to-do-list/add">
    <span class="oi oi-plus"></span> Nueva lista
</a>

<Pagination CurrentPage="currentPage" TotalItem="totalItem" TotalPage="totalPage" SelectedPage="SelectedPage" ChangeToalItem="ChangeTotalItems"></Pagination>

<table class="table">
    <thead>
        <tr>
            <th>Detalles</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    @if (list == null)
    {
        <tfoot>
            <LoadList />
        </tfoot>
    }
    else if (list.Count == 0)
    {
        <tfoot>
            <NoResult />
        </tfoot>
    }
    else
    {
        <tbody>
            @foreach (var item in list)
            {
                <tr>
                    <td>
                        <div><b>Fecha: </b>@item.Date</div>
                        <div><b>Nombre: </b>@item.Name</div>
                        <div><b>Cantidad de tareas: </b>@item.CountItem 
                            @if (item.CountItem > 0)
                            {
                                <a class="btn btn-warning cp" href="to-do-list-item/@item.Id">
                                    <span class="oi oi-eye"></span>
                                </a>
                            }
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-info" href="/to-do-list/edit/@item.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <div class="btn btn-danger cp" @onclick="() => Delete(item.Id)">
                            <span class="oi oi-trash"></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>


@code {

    //Pagination----------------------
    private int currentPage = 1;
    private int totalPage;
    private int totalItem = 0;
    private int totalItemShow = 10;
    //--------------------------------


    private List<ToDoListList> list { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var a = LoadList();
        await a;
    }

    private async Task LoadList(int pageParam = 1)
    {
        var httpResponse = await http.GetAsync($"api/ToDoList?Page={pageParam}&Quantity={totalItemShow}");
        if (httpResponse.IsSuccessStatusCode)
        {
            totalPage = int.Parse(httpResponse.Headers.GetValues("totalPagesAstrol").FirstOrDefault());
            totalItem = int.Parse(httpResponse.Headers.GetValues("TotalItems").FirstOrDefault());
            var responseString = await httpResponse.Content.ReadAsStringAsync();

            list = JsonSerializer.Deserialize<List<ToDoListList>>(responseString,
                        new JsonSerializerOptions()
                        {
                            PropertyNameCaseInsensitive = true
                        });
        }
    }

    private async Task Delete(int id)
    {
        ToDoListList item = list.First(x => x.Id == id);
        if (await js.Confirm($"Está seguro?", $"Que desea eliminar la lista {item.Name}"))
        {
            await http.DeleteAsync($"api/ToDoList/{id}");
            await LoadList();
        }
    }

    private async Task SelectedPage(int pagina)
    {
        currentPage = pagina;
        await LoadList(pagina);
    }

    private async Task ChangeTotalItems(int newTotal)
    {
        currentPage = 1;
        totalItemShow = newTotal;
        await LoadList();
    }
}