﻿@page "/"

<h1>Proyecto de ejemplo!</h1>
<div>
    <br />
    <b>
        En este proyecto usted puede crear tareas y listas de tareas donde cada tarea pertenece a una lista y una lista puede tener muchas tareas.
    </b>
    <br />
    - Desde la interfaz de listas usted puede crear, editar, ver las tareas que contiene la misma para el caso de que tengo al menos una y eliminar la lista. Si elimina la lista se eliminan todas las tareas que contenga la misma.
    <br />
    - Desde la interfaz de tareas usted puede crean nuevas tareas, editar las existentes, concluir la misma, así como eliminarla. También se incluye un filtro por lista y nombre de la tarea.
    <br />
    <br />
    <b>
        Ejemplo básico usando .Net Blazor.
    </b>
</div>
<br />
<div class="cr">
    Para que el proyecto funcione debe realizar un <b>Update-Database</b> antes de compilarlo, para que cree la <b>Base de Datos</b>. La misma es MS SQL Server Express titulada <b>Test_AstrolDB</b>.
</div>