﻿<div class="content-filter">
    <div class="top-filter">
        Filtro
        <span class="oi oi-magnifying-glass icon-f"></span>
    </div>
    <form @onsubmit="Search">
        <div class="body-filter">
            @if (Load)
            {
                <LoadList />
            }
            else
            {
                @ChildContent
            }
        </div>
        <div class="foot-filter">
            <button type="submit" class="btn btn-info search-bo">Buscar</button>
        </div>
    </form>
</div>

@code {
    [Parameter]
    public bool Load { get; set; }


    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback ActionSearch { get; set; }

    private async Task Search()
    {
        await ActionSearch.InvokeAsync(null);
    }
}
