﻿<input @onchange="x => ChangeValue(x.Value.ToString())"
       class="@InputClass"
       placeholder="@InputPlaceholder"
       type="search"
       value="@Value"
       list="OptionsList @InputPlaceholder"
       @attributes="InputAttributes" />

<datalist id="OptionsList @InputPlaceholder">
    @foreach (var item in List)
    {
        <option value="@item.Name"></option>
    }
</datalist>

@code {
    private string Value = "";

    [Parameter]
    public string InputClass { get; set; }

    [Parameter]
    public int InputValue { get; set; } = 0;

    [Parameter]
    public string InputPlaceholder { get; set; }

    [Parameter]
    public List<OptionSelect> List { get; set; }

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; }

    [Parameter]
    public EventCallback<int> NewValue { get; set; }

    [Parameter]
    public EventCallback<string> ChacngeValue { get; set; }

    protected override void OnParametersSet()
    {
        if (InputValue > 0 && List != null && List.Exists(x => x.Value == InputValue))
            Value = List.First(x => x.Value == InputValue).Name;
    }

    private async Task ChangeValue(string namelist)
    {
        Value = namelist;
        await NewValue.InvokeAsync(SearchValue(namelist));
        await ChacngeValue.InvokeAsync(namelist);
    }

    private int SearchValue(string namelist)
    {
        if (string.IsNullOrEmpty(namelist))
        {
            return 0;
        }
        else
        {
            if (List.Exists(x => x.Name == namelist))
            {
                return List.FirstOrDefault(x => x.Name == namelist).Value;
            }
            else
            {
                return -1;
            }
        }
    }
}