﻿<div class="paginado-position">
    @if (TotalPage > 1)
    {
        <nav>
            <ul class="pagination justify-content-center">
                @foreach (var pagina in paginas)
                {
                    <li @onclick="@(() => SelectedPageInternal(pagina))"
                        style="cursor: pointer;"
                        class="page-item @(pagina.Habilitada ? null : "disabled") @(pagina.Activa ? "active" : null)">
                        <span class="page-link" href="#">@pagina.Texto</span>
                    </li>
                }
            </ul>
        </nav>
    }
    <div class="total-elements">
        <span>
            <select @onchange="(x => ChangeToalItemAction(x.Value.ToString()))" class="select-pagination">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </span>
        <b>Total: </b> @TotalItem
    </div>
</div>


@code {
    [Parameter]
    public int CurrentPage { get; set; } = 1;
    [Parameter]
    public int TotalItem { get; set; } = 0;
    [Parameter]
    public int TotalPage { get; set; }
    [Parameter]
    public int Radio { get; set; } = 3;
    [Parameter]
    public EventCallback<int> SelectedPage { get; set; }
    [Parameter]
    public EventCallback<int> ChangeToalItem { get; set; }

    List<PagesModel> paginas = new List<PagesModel>();

    protected override void OnParametersSet()
    {
        CargarPaginas();
    }

    private async Task ChangeToalItemAction(string value)
    {
        try
        {
            int newotal = int.Parse(value);
            if (newotal > 0 && newotal <= 100)
            {
                TotalPage = newotal;
                await ChangeToalItem.InvokeAsync(TotalPage);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private async Task SelectedPageInternal(PagesModel pagina)
    {
        if (pagina.Pagina == CurrentPage)
        {
            return;
        }

        if (!pagina.Habilitada)
        {
            return;
        }

        CurrentPage = pagina.Pagina;

        CargarPaginas();

        await SelectedPage.InvokeAsync(pagina.Pagina);
    }

    private void CargarPaginas()
    {
        paginas = new List<PagesModel>();
        var paginaAnteriorHabilitada = CurrentPage != 1;
        var paginaAnerior = (CurrentPage == 1) ? 1 : CurrentPage - 1;
        paginas.Add(new PagesModel(1, paginaAnteriorHabilitada, "Inicio"));
        paginas.Add(new PagesModel(paginaAnerior, paginaAnteriorHabilitada, "Anterior"));

        for (int i = 1; i <= TotalPage; i++)
        {
            if (i >= CurrentPage - Radio && CurrentPage + Radio >= i)
            {
                paginas.Add(
                    new PagesModel(i)
                    {
                        Activa = CurrentPage == i
                    }
                );
            }
        }

        var paginaSiguienteHabilitada = CurrentPage != TotalPage;
        var paginaSiguiente = (CurrentPage == TotalPage) ? TotalPage : CurrentPage + 1;
        paginas.Add(new PagesModel(paginaSiguiente, paginaSiguienteHabilitada, "Siguiente"));
        paginas.Add(new PagesModel(TotalPage, paginaSiguienteHabilitada, "Fin"));
    }

    class PagesModel
    {

        public PagesModel(int pagina) : this(pagina, true) { }

        public PagesModel(int pagina, bool habilitada) : this(pagina, habilitada, pagina.ToString()) { }

        public PagesModel(int pagina, bool habilitada, string texto)
        {
            Pagina = pagina;
            Habilitada = habilitada;
            Texto = texto;
        }

        public string Texto { get; set; }
        public int Pagina { get; set; }
        public bool Habilitada { get; set; } = true;
        public bool Activa { get; set; } = false;
    }
}