﻿@page "/to-do-list-item/add"

<div class="content-form col-12">
    <EditForm Model="item" OnValidSubmit="AddItem">
        @if (load)
        {
            <div>Cargando...</div>
        }
        else
        {
            <Form Model="item" SelectList="SelectList"></Form>
        }
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="/to-do-list-item" type="submit" class="btn btn-danger">Cancelar</a>
    </EditForm>
</div>

@code {
    private bool load = false;
    private ToDoListItem item = new ToDoListItem();
    private List<OptionSelect> SelectList { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var a = LoadSelect();
        await a;
    }

    private async Task LoadSelect()
    {
        load = true;
        SelectList = await http.GetJsonAsync<List<OptionSelect>>("/api/ToDoList/GetAllToDoListSelect/0");
        item.ToDoListId = (SelectList != null && SelectList.Count > 0 && SelectList.Exists(x => x.State)) ? SelectList.FirstOrDefault(x => x.State).Value : 0;
        load = false;
    }

    async Task AddItem()
    {
        load = true;
        var response = await http.PostJsonAsync<ModelBasicValidad>($"api/ToDoListItem", item);
        await js.Notification(response.Message, response.Type);
        navigationManager.NavigateTo($"to-do-list-item");
        load = false;
    }
}
