﻿@page "/to-do-list-item/edit/{id:int}"

<div class="content-form col-12">
    <EditForm Model="item" OnValidSubmit="EditItem">
        @if (load)
        {
            <div>Cargando...</div>
        }
        else
        {
            <Form Model="item" SelectList="SelectList"></Form>
        }
        <button type="submit" class="btn btn-info">Guardar</button>
        <a href="/to-do-list-item" type="submit" class="btn btn-danger">Cancelar</a>
    </EditForm>
</div>

@code {
    private bool load = false;

    [Parameter]
    public int id { get; set; }

    private List<OptionSelect> SelectList { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        load = true;
        var a = LoadItem();
        var b = LoadSelect();
        await a;
        await b;
        load = false;
    }

    private ToDoListItem item = new ToDoListItem();

    private async Task LoadSelect()
    {
        SelectList = await http.GetJsonAsync<List<OptionSelect>>($"/api/ToDoList/GetAllToDoListSelect/{item.ToDoListId}");
        item.ToDoListId = (SelectList != null && SelectList.Count > 0 && SelectList.Exists(x => x.State)) ? SelectList.FirstOrDefault(x => x.State).Value : 0;
    }

    private async Task LoadItem()
    {
        item = await http.GetJsonAsync<ToDoListItem>($"api/ToDoListItem/{id}");
    }

    async Task EditItem()
    {
        load = true;
        var response = await http.PutJsonAsync<ModelBasicValidad>($"api/ToDoListItem", item);
        await js.Notification(response.Message, response.Type);
        navigationManager.NavigateTo($"to-do-list-item");
        load = false;
    }
}