﻿<DataAnnotationsValidator />

<div class="form-control-file">
    <Label TItem="ToDoListItem" aspfor="@nameof(Model.ToDoListId)"></Label>
    <div>
        <select @bind="@Model.ToDoListId" class="form-control mb-2 mr-sm-2"
                id="@nameof(Model.ToDoListId)"
                name="@nameof(Model.ToDoListId)">
            @if (SelectList != null)
            {
                @foreach (var item in SelectList)
                {
                    if (Model.ToDoListId == item.Value)
                    {
                        <option value="@item.Value" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Value">@item.Name</option>
                    }
                }
            }
        </select>
        <ValidationMessage For="@(()=>Model.ToDoListId)" />
    </div>
</div>

<div class="form-control-file">
    <Label TItem="ToDoListItem" aspfor="@nameof(Model.Name)"></Label>
    <div>
        <InputText @bind-Value="@Model.Name"
                   class="form-control mb-2 mr-sm-2"
                   id="@nameof(Model.Name)" />
        <ValidationMessage For="@(()=>Model.Name)" />
    </div>
</div>

<div class="form-control-file">
    <Label TItem="ToDoListItem" aspfor="@nameof(Model.Description)"></Label>
    <div>
        <InputTextArea @bind-Value="@Model.Description"
                   class="form-control mb-2 mr-sm-2"
                   id="@nameof(Model.Description)" />
        <ValidationMessage For="@(()=>Model.Description)" />
    </div>
</div>

@code {
    [Parameter]
    public ToDoListItem Model { get; set; } = new ToDoListItem();

    [Parameter]
    public List<OptionSelect> SelectList { get; set; } = new List<OptionSelect>();
}
