﻿@page "/to-do-list-item"
@page "/to-do-list-item/{toDoListId:int}"

<h3 class="as-tile">Tareas</h3>

<Filter ActionSearch="Search" Load="loadFilter">
    <InputSearch NewValue="InputSearchToDoList"
                 InputClass="filter-astrol width-auto"
                 InputPlaceholder="Listas"
                 List="SelectToDoList"
                 InputValue="toDoListId">
    </InputSearch>
    <input class="filter-astrol" placeholder="Tarea" @bind="@name" />
</Filter>

<a class="btn btn-success new-item" href="/to-do-list-item/add">
    <span class="oi oi-plus"></span> Nueva tarea
</a>

<Pagination CurrentPage="currentPage" TotalItem="totalItem" TotalPage="totalPage" SelectedPage="SelectedPage" ChangeToalItem="ChangeTotalItems"></Pagination>

<table class="table">
    <thead>
        <tr>
            <th>Estado</th>
            <th>Detalles</th>
            <th>Descripción</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    @if (list == null)
    {
        <tfoot>
            <LoadList />
        </tfoot>
    }
    else if (list.Count == 0)
    {
        <tfoot>
            <NoResult />
        </tfoot>
    }
    else
    {
        <tbody>
            @foreach (var item in list)
            {
                <tr>
                    <td>
                        @if (!item.Status)
                        {
                            <span class="btn btn-secondary">Creada</span>
                        }
                        else
                        {
                            <span class="btn btn-warning">Concluida</span>
                        }
                    </td>
                    <td>
                        <div><b>Fecha: </b>@item.Date</div>
                        <div><b>Lista: </b>@item.ToDoList</div>
                        <div><b>Tarea: </b>@item.Name</div>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <a class="btn btn-info" href="/to-do-list-item/edit/@item.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                        @if (!item.Status)
                        {
                            <div class="btn btn-warning cp" @onclick="() => End(item.Id)">
                                <span class="oi oi-timer"></span>
                            </div>
                        }
                        <div class="btn btn-danger cp" @onclick="() => Delete(item.Id)">
                            <span class="oi oi-trash"></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    }

</table>


@code {
    //Pagination----------------------
    private int currentPage = 1;
    private int totalPage;
    private int totalItem = 0;
    private int totalItemShow = 10;
    //--------------------------------

    //Filter----------------------
    private bool loadFilter = true;
    private string name = null;
    [Parameter]
    public int toDoListId { get; set; } = 0;
    private List<OptionSelect> SelectToDoList = new List<OptionSelect>();
    //----------------------------


    private List<ToDoListItemList> list { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var a = LoadList();
        await a;
        StateHasChanged();
        var b = LoadSelectORs();
        await b;
    }

    private async Task Search()
    {
        currentPage = 1;
        var a = LoadList();
        await a;
    }

    private void InputSearchToDoList(int newValue)
    {
        toDoListId = newValue;
    }

    private async Task LoadSelectORs()
    {
        loadFilter = true;
        try
        {
            SelectToDoList = await http.GetJsonAsync<List<OptionSelect>>($"api/ToDoList/GetAllToDoListSelect/{0}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            SelectToDoList = new List<OptionSelect>();
        }
        loadFilter = false;
    }

    private async Task LoadList(int pageParam = 1)
    {
        var httpResponse = await http.GetAsync($"api/ToDoListItem?Page={pageParam}&Quantity={totalItemShow}" +
            $"&name={name}"+
            $"&toDoListId={toDoListId}");

        if (httpResponse.IsSuccessStatusCode)
        {
            totalPage = int.Parse(httpResponse.Headers.GetValues("totalPagesAstrol").FirstOrDefault());
            totalItem = int.Parse(httpResponse.Headers.GetValues("TotalItems").FirstOrDefault());
            var responseString = await httpResponse.Content.ReadAsStringAsync();

            list = JsonSerializer.Deserialize<List<ToDoListItemList>>(responseString,
                    new JsonSerializerOptions()
                    {
                        PropertyNameCaseInsensitive = true
                    });
        }
    }

    private async Task Delete(int id)
    {
        ToDoListItemList item = list.First(x => x.Id == id);
        if (await js.Confirm($"Está seguro?", $"Que desea eliminar la tarea {item.Name}"))
        {
            await http.DeleteAsync($"api/ToDoListItem/{id}");
            await LoadList();
        }
    }

    private async Task End(int id)
    {
        ToDoListItemList item = list.First(x => x.Id == id);
        if (await js.Confirm($"Está seguro?", $"Que desea councluir la tarea {item.Name}"))
        {
            var response = await http.PutJsonAsync<ModelBasicValidad>($"api/ToDoListItem/EndToDoListItem", id);
            await js.Notification(response.Message, response.Type);
            await LoadList();
        }
    }

    private async Task SelectedPage(int pagina)
    {
        currentPage = pagina;
        await LoadList(pagina);
    }

    private async Task ChangeTotalItems(int newTotal)
    {
        currentPage = 1;
        totalItemShow = newTotal;
        await LoadList();
    }
}
